<div class="work">
<div class="work--thumb" style="background-image: url({{'img'}})"></div>
<div class="work--copy"><h2 class="work--header">{{#if url}}<a href="{{url}}">{{name}}</a> {{else}} {{name}} {{/if}}</h2>
{{#if desc}}<p class="work--detail desc">{{desc}}</p>{{/if}}
{{!-- <p class="work--detail"><span>role</span>{{role}}</p> --}}
<p class="work--detail"><span class="name">{{#if (isDev type)}}tech{{else}}state{{/if}}</span><span class="content">{{tech-state}}</span></p>
{{#if collab}}<p class="work--detail"><span class="name">team</span><span class="content">{{#each collab}}{{#if url}}<a target="_blank" href="{{url}}" class="collab">{{name}}</a> {{else}} <span class="collab">{{name}}</span> {{/if}}{{/each}}<span></p>{{/if}}

</div>

</div>